<div class="navbar-nav mr-auto">
  <footer>
    <div class="footer-links">
      <a href="https://www.google.com" target="_blank">
        <img src="assets/image/google.png"  class="footer-logo" />
      </a>
      <a href="https://www.youtube.com" target="_blank">
        <img src="assets/image/youtube.png" class="footer-logo" />
      </a>
      <a href="https://www.linkedin.com/in/abhishek-bhadauriya-1b5822218/" target="_blank">
        <img src="assets/image/linkedIn.png"  class="footer-logo" />
      </a>
    </div>
  </footer>
</div>
